*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
.Home{
    background-image: url('Images/HomeBackground.png');
    /* background-repeat: no-repeat;
    background-position: center;
    /* background-size:50% 50%; 
    background-size: cover;  */ 
    height: 100vh;
    width:100%;
    font-family: 'Roboto Slab', serif;
}
.Header{
    background-image: url('Images/HomeHeaderBackground.png');
    height: 15vh;
    display: flex;
}
.Header img{
    padding-left: 5%;;
    padding-top: 2%;
}
.nav{
    display: flex;
    padding-top: 4%;
    padding-left: 15%;
    justify-content: space-between;
    color:rgb(37, 150, 190);
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
}

.last{
    padding-top: 1%;
    /* border: 1px solid red; */
    width: 30vw;
    display: flex;
    align-items:flex-end;
 
    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 1%;
}
.Order{
    width: fit-content;
    background-color: #2596be;
    height: fit-content;
    border-radius: 20%;
    color: white;
    padding:5px 30px;
    margin-top: 3%;
    margin-left: 5%;
    cursor: pointer;
}

.last img{
    height: 34%;
    /* border: 1px solid red; */
}

.main{
    display: flex;
    height: 85vh;
}
.Left{
    /* border: 1px solid red; */
    width: 50%;  
    height: 85%;
    color: #3f5c66;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.Left img{
    height: 70%;
    margin-left: 20%;
    margin-top: 7vh;
}

.Right{
    width: 50%;
    height: 85%;
    /* border: 1px solid red; */
    color:#ff7404;
    font-size:5vh;
    display: flex;
    flex-direction: column;
    
}
.Right h1{
    margin-top: 15vh;
}
.Right button{
    height: auto;
    padding: 8px;
    border-radius: 15%;
}
.Right .FirstButton{
    background-color:#2596be ;
    cursor: pointer;
}

.Right .SecondButton{
    opacity: 0.6;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

.SideBar{
    width: 100%;
    background-image: url('Images/HomeSide.png');
    height: 20vh;
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-self:flex-end ;
    transition:2s;
}
/* tr{
    width: 80%;
    height: 100%;
}
td{
    height: 100%;
    display: flex;
    flex-direction: column;
} */
.SideBar h4{
    font-size: small;
    writing-mode: vertical-rl;
    padding-left: 4vh;
    padding-right: 2vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgs{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:small;
    cursor: pointer;
}
.imgs h6{
    font-weight:lighter;
    font-size:medium;
}





@media screen and (max-width: 1150px){
    .Home{
         height: 110vh;
    }
    .Header{
        height: 10vh;
    }
    .nav{
        display: none;
    }
    .last img{
            margin: 10px; 
    }
    .last .Order{
        display:none;
    }

    
    .main{
        flex-direction: column;
        max-height: 85vh;
    }
    
    .Left{
        max-width: 100%;
        height: 50%;
        width: 100vh;
    }
    .Left h3{
        font-size:90%;
        margin:1vh 3vh;
    }
    .Left img{
        margin-top: 2vh;
        width:60vw;
    }
    .Left h2{
        font-size:120%;
        margin: 0 3vh;
    }



    .Right{
        max-width: 100%;
        height: 50%;
        width: 100%;    
    }
    .opt{
        width: 90%;
        height: 60vh;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    .Right h1{
        font-size: 100%;
        margin-top:8vh;
    }

    .SideBar{
        height: auto;
        width:100%;
        max-width: 100vw;
        padding: 5px;
    }
    .SideBar h4{
        display: none;
    }

    .imgs{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        padding-left: 10px;
        
    }
    
    .imgs h6{
        width: 100%;
    }
    .arrow{
        display: none;
    }

}


@media screen and (max-width: 695px){
    .Home{
        height: 130vh;
    }
}


/* ---------------Second Phase-------------------------------- */
.SecondPhase{
    background-image: url('Images/SecondPhase\ Background.png');
    height: 100vh;
}
.SecondI{
    height: 30vh;
    /* border: 1px solid red; */
}
.SecondI h1{
    font-family: 'Lobster', cursive;
    color: white;
    font-size:5vw;
    padding-top: 10vh;
    padding-left: 10vw;
}
.SecondI h5{
    font-size:1vw;
    color: white;
    padding-left: 10vw;
}

.Cards{
    margin-left: 10vw;
    display: flex;
    margin-top: 5vh;
    /* border: 2px solid black; */

}
.Card{
    background-color: white;
    border-radius:10%; 
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    color: rgb(37, 150, 190);
    width:20vw;
    height: 60vh;
    margin-left: 30px;
}

.Card .InsideCard{
    /* border: 1px solid blue; */
    /* margin-top: 5%; */
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card .InsideCard h6{
    
    color: rgb(37, 150, 190);
    font-weight: lighter;
    /* border: 1px solid yellowgreen; */
    width: 70%;
    font-size: 3vh;
    margin-top: 5%;
}
.Card .InsideCard img{
    /* border: 1px solid black; */
    width:50%;
    margin-top: 10%;
}

.BookButton{
    border: 2px solid black;
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    position:relative;
    display: none;
    z-index: 99;
}





@media screen and (max-width: 1000px){
    .SecondPhase{
        height: 140vh;
    }

    .SecondI h1{
        font-size: 40px;
    }
    .SecondI h5{
        font-size: 10px;
    }

    .Cards{
    /* border: 5px solid yellowgreen; */
    flex-direction: column;
    width: 90vw;
    max-width: 90vw;
    margin-left: 0;
    margin-top: 1vh;
    }

    .Card{
        width:100%;
        /* border: 1px solid blue; */
        height: 30vh;
        margin-bottom: 5vh;
    }

    .Card .InsideCard{
        /* display: grid;
        grid-template-columns: repeat(auto-fit,minmax(900px,1fr)); */
        display: flex;
        flex-direction:row;
        align-items:unset;
        /* border: 1px solid red; */
        height: 70%;
    }

    .Card .InsideCard h6{
        font-size: 2vh;
        /* border: 1px solid hotpink; */
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
    }

    .Card .InsideCard img{
        width: 30%;
        height: 90%;
        margin-top: 5%;
        /* border: 1px solid brown; */
    }

}

/* --------------------------------Third Phase------------------------------------ */

.ThirdPhase{
    height: 100vh;
    background-image: url('Images/HomeBackground.png');
    /* border: 1px solid red; */
    display: flex;
    color: rgb(37, 150, 190);
}
.ThirdRight{
    /* border: 5px solid black; */
    height:100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ThirdRight h1{
    color: #ff7404;
    font-size: 5vw;
}
.ThirdDishes{
    display: flex;
    padding: 40px 0;
}

.ThirdDishes img{
    /* border: 1px solid red; */
    width: 15vw;
}
.ThirdDishes .FirstDish{
    /* border: 1px solid blue; */
    position: relative;
    margin-left: 40px;
    /* width: 50%; */
}
.ThirdDishes .SecondDish{
    position: relative;
    /* border: 1px solid violet; */
    margin-left: 60px;
}


.ThirdDishes button{
    z-index: 999;
    position:absolute;
    width: 50%;
    height: 30%;
    top: 85%;
    left: -10%;
    border-radius: 5px;
    background-color: rgb(37, 150, 190);
    color: white;
    cursor: pointer;
    /* bottom: 1px; */
}


.ThirdLeft{
    /* border: 10px solid blue; */
    height:100%;
    width: 50%;
    display: flex;
    /* justify-content: left; */
    /* align-self:flex-start; */
    align-items: center;
}
.ThirdLeft img{
    height: 80%;
    width: 60%;
    /* align-self: flex-end; */
    padding-left: 30%;

}

@media screen and (max-width:1100px){
    .ThirdLeft img{
        height: 60%;
        width: 80%;
        padding-left: 10%;
    }
}

@media screen and (max-width:500px) {
    .ThirdPhase{
        height: 90vh;
    }
    .ThirdPhase .ThirdRight{
        font-size: 80%;
        padding-right: 10px;
    }

    .ThirdPhase .ThirdRight h1{
        font-size: 250%;
    }

    .ThirdDishes{
        display: flex;
        flex-direction:column;
        /* border: 1px solid red; */
    }
    .ThirdDishes .FirstDish{
        /* border: 1px solid blue; */
        width: 70%;
        height: 90%;
        margin-bottom: 30px;
    }
    .ThirdDishes .SecondDish{
        /* border: 1px solid blue; */
        width: 70%;
        margin-left: 20%;
    }
    .ThirdDishes img{
        width: 100%;
        height: 100%;
    }
    .ThirdDishes button{
        width: 80%;
        height: 40%;
    }
}
/* ------------------------------------------------------------------------------- */

.ForthPhase{
    height: 110vh;
    background-image: url('Images/ForthBackground.png');
    /* width: 100vw; */
    display: flex;
}

.ForthRight{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ForthRight img{
    height: 80%;
    /* display: flex; */
    margin-left: 10%;
}
.ForthLeft{
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 5%;
    justify-content: center;
}

.ForthLeft h1{
    font-size: 4vw;
    color: #ff7404;
    margin:15px 0 35px 0;
}
.FirstTwo{
    margin-bottom: 10vh;
    /* border: 1px solid red; */
    /* position: relative; */
    display: flex;
}
.FirstTwo .one{
    width: 40%;
    margin-right: 10%;
    position: relative;
}
.FirstTwo .two{
    width: 40%;
    position:relative
}
.FirstTwo .two button{
    /* border: 3px solid black; */
}

.SecondTwo{
    display: flex;
}

.SecondTwo .one{
    width: 40%;
    margin-right: 10%;
    position: relative;
}
.SecondTwo .two{
    width: 40%;
    position: relative;
}




.ForthLeft button{
    z-index: 999;
    position:absolute;
    width: 50%;
    height: 30%;
    top: 85%;
    left: 0;
    border-radius: 10px;
    background-color: rgb(37, 150, 190);
    color: white;
    cursor: pointer;
}

@media screen and (max-width:1500px){

    .ForthRight img{
        width: 70%;
    }
}

@media screen and (max-width:1200px){

    
    .ForthRight{
        width: 40%;
    }
    .ForthLeft{
        width: 60%;
        /* margin-bottom: 20vh; */
        /* margin-bottom: 10vh; */
        height: 80%;
    }
}

@media screen and (max-width:1200px){

    .ForthPhase{
        height: 60vh;
    }
    .ForthRight{
        display: none;
    }
    .ForthLeft{
        width: 90%;
    }
    .ForthLeft .FirstTwo{
        /* border: 1px solid red; */
        width: 100%;
    }
    /* .ForthLeft .FirstTwo .one{

    } */
}

@media screen and (max-width:800px){

    .ForthLeft h1{
        font-size: 10vw;
    }
    .FirstTwo .one{
        /* border: 1px solid violet; */
        width: 45%;
    }

    .FirstTwo img{
        width: 100%;
    }
    .FirstTwo .two{
        /* border: 1px solid blue; */
        width: 45%;
    }


    .SecondTwo img{
        width: 100%;
    }
    .SecondTwo .one{
        width: 45%;
    }
    .SecondTwo .two{
        width: 45%;
    }

}
@media screen and (max-width:450px){
    .ForthLeft button{
        width:70%;
        
    }
}