*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
.Home{
    background-image: url('Images/HomeBackground.png');
    /* background-repeat: no-repeat;
    background-position: center;
    /* background-size:50% 50%; 
    background-size: cover;  */ 
    height: 100vh;
    width:100%;
    font-family: 'Roboto Slab', serif;
}
.Header{
    background-image: url('Images/HomeHeaderBackground.png');
    height: 15vh;
    display: flex;
}
.Header img{
    padding-left: 5%;;
    padding-top: 2%;
}
.nav{
    display: flex;
    padding-top: 4%;
    padding-left: 15%;
    justify-content: space-between;
    color:rgb(37, 150, 190);
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
}

.last{
    padding-top: 1%;
    /* border: 1px solid red; */
    width: 30vw;
    display: flex;
    align-items:flex-end;
 
    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 1%;
}
.Order{
    width: fit-content;
    background-color: #2596be;
    height: fit-content;
    border-radius: 20%;
    color: white;
    padding:5px 30px;
    margin-top: 3%;
    margin-left: 5%;
    cursor: pointer;
}

.last img{
    height: 34%;
    /* border: 1px solid red; */
}

.main{
    display: flex;
    height: 85vh;
}
.Left{
    /* border: 1px solid red; */
    width: 50%;  
    height: 85%;
    color: #3f5c66;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.Left img{
    height: 70%;
    margin-left: 20%;
    margin-top: 7vh;
}

.Right{
    width: 50%;
    height: 85%;
    /* border: 1px solid red; */
    color:#ff7404;
    font-size:5vh;
    display: flex;
    flex-direction: column;
    
}
.Right h1{
    margin-top: 15vh;
}
.Right button{
    height: auto;
    padding: 8px;
    border-radius: 15%;
}
.Right .FirstButton{
    background-color:#2596be ;
    cursor: pointer;
}

.Right .SecondButton{
    opacity: 0.6;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

.SideBar{
    width: 100%;
    background-image: url('Images/HomeSide.png');
    height: 20vh;
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-self:flex-end ;
    transition:2s;
}
/* tr{
    width: 80%;
    height: 100%;
}
td{
    height: 100%;
    display: flex;
    flex-direction: column;
} */
.SideBar h4{
    font-size: small;
    writing-mode: vertical-rl;
    padding-left: 4vh;
    padding-right: 2vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgs{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:small;
    cursor: pointer;
}
.imgs h6{
    font-weight:lighter;
    font-size:medium;
}





@media screen and (max-width: 1150px){

    .Header{
        height: 10vh;
    }
    .nav{
        display: none;
    }
    .last img{
            margin: 10px; 
    }
    .last .Order{
        display:none;
    }

    
    .main{
        flex-direction: column;
        max-height: 85vh;
    }
    
    .Left{
        max-width: 100%;
        height: 50%;
        width: 100vh;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  */
    }
    .Left h3{
        font-size:90%;
        margin:1vh 3vh;
    }
    .Left img{
        margin-top: 2vh;
        width:60vw;
        /* height: 20vh; */
    }
    .Left h2{
        font-size:120%;
        margin: 0 3vh;
    }



    .Right{
        max-width: 100%;
        height: 50%;
        width: 100vh;    
        /* display: flex;
        flex-direction: row;
        border: 1px solid red; */
    }
    .opt{
        width: 90%;
        height: 60vh;
        /* display: flex;
        flex-direction: column; */
    }
    .Right h1{
        font-size: 100%;
        margin-top:8vh;
    }

    .SideBar{
        height: auto;
        width:100vw;
        max-width: 100vw;
    }
    /* .SideBar h4{
        padding-left: 0;
        padding-right: 0;
    } */

    /* .imgs{
        display: none;
    } */
}


@media screen and (max-width: 550px){
    *{
        box-sizing: border-box;
    }
    .imgs{
        
        content: "";
        clear: both;
        display: table;
    }
    .column {
        
      }
    .imgs h6{
        border: 1px solid black;
        /* width: 50%; */
        float: left;
        width: 50%;
        padding: 5px;
    }
    .arrow{
        display: none;
    }
}









